{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Registrace noveho uzivatele</h1>

    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn btn-primary">Registrovat</button>
    {{ form_end(registrationForm) }}
{% endblock %}
